* {
    margin: 0;
    padding: 0;
    border: none;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: underline;
}

#wrapper {
    padding: 5px 5px 0;
}
/* header */

.header {
    background: #d8d8d8;
    font-size: 18px;
    font-weight: 700;
}

.nav-menu .menu {
    display: flex;
    list-style-type: none;
}

.nav-menu .menu .menu-item {
    padding: 5px 30px 5px 50px;
    cursor: pointer;
    color: #000;
}

.nav-menu .menu .menu-item.active {
    color: #fff;
}

.nav-menu .menu .menu-item:first-child {
    border-right: 1px solid;
}

/* main */

.main-wrapper {
    margin-top: 20px
}

.users-wrapper .users-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search-text .search {
    width: 200px;
    background: #d8d8d8;
    font-size: 14px;
    padding: 5px 10px;
    color: #000;
}

.users-wrapper .users-header .search-text .search::placeholder {
    color: #000;
}

.pagination {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    width: 120px;
}

.pagination .pagination-item {
    cursor: pointer
}

.pagination .pagination-item.disabled {
    pointer-events: none;
}

.pagination .arrow {
    color: #49a1a2;
    font-weight: bold;
}

.pagination .pagination-item.disabled .arrow {
    color: #d8d8d8;
}

.users-wrapper .users-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.users-wrapper .users-list .user:nth-child(5n) {
    margin-right: 0;
}

.user-footer, .repos-footer {
    display: flex;
    justify-content: flex-end;
}

.user {
    margin: 0 30px 20px 0;
    background-color: #49a1a2;
    padding: 20px;
    width: calc(100% * 0.2 - 34px);
    height: 100%;
    box-sizing: border-box;
}

.user .username {
    text-align: center;
    word-wrap: break-word
}

.user .user-avatar {
    width: 100%;
    height: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

.user .user-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.single-user-wrapper .user-header {
    margin-bottom: 20px;
}

.user-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.user-info .user {
    margin: 0
}

.user-description {
    background-color: #49a1a2;
    padding: 20px;
    width: 60%
}

.repos-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.repo-wrapper {
    background-color: #49a1a2;
    margin-bottom: 10px;
    padding: 5px 10px;
    font-size: 16px;
}